<div class="container" ng-controller="MoviesCtrl">

	<nav-panel></nav-panel>

	<div class="navbar-collapse collapse plus-margin">
		<ul class="nav navbar-nav" ng-if="!$root.isAdmin">
			<li>
				<a href="" ng-click="showAllMovies()">All movies</a>
			</li>
			<li>
				<a href="" ng-click="showYouLiked()">You like</a>
			</li>
			<li>
				<a href="" ng-click="showYouCommented()">You comment</a>
			</li>
			<!-- <li>
				<a href="">New movies 
					<span class="badge">3</span> 
				</a>
			</li> -->
		</ul>
		<ul class="nav navbar-nav" ng-if="$root.isAdmin">
			<li>
				<a href="" ng-click="showAllMovies()">All movies</a>
			</li>
			<li>
				<a href="" ng-click="showMostLiked()">Most liked</a>
			</li>
			<li>
				<a href="" ng-click="showMostCommented()">Most commented</a>
			</li>
			<li>
				<a href="" ng-click="goToNewComments()">New comments 
					<span class="badge" ng-bind="numberOfNewComments"></span> 
				</a>
			</li>
			<li><a href="" ng-click="addMovie()">+Add movie</a></li>
		</ul>

		<form class="navbar-form navbar-right">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="searchQuery" placeholder="Search for a movie">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="search(searchQuery)">Search</button>
				</span>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-sm-3" ng-repeat-start="movie in movies | filter:movieFilter | orderBy:orderByKey:true" ng-click="goToMovie(movie.$id)">
			<img ng-src="{{movie.imgUrl}}" alt="img" class="img-rounded img-responsive">
			<h3 ng-bind="movie.title"></h3>
			<p>
				<span class="glyphicon glyphicon-heart-empty"></span>
				<span ng-bind="movie.numberOfLikes"></span>
				<span class="glyphicon glyphicon-comment"></span>
				<span ng-bind="movie.numberOfComments"></span>
				<span class="glyphicon glyphicon-calendar"></span>
				<span ng-bind="movie.date"></span>
			</p>
		</div>
		<div class="clearfix" ng-repeat-end ng-if="$index % 4 === 3"></div>
	</div>



</div>

