<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="" class="navbar-brand"  ng-click="goToMain()">
				<img src="/pic.jpg" alt="" style="height:20px;">
			</a>
			<a href="" class="navbar-brand" ng-click="goToMain()">
				Mooovies
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-if="username">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span ng-bind="username"></span>
						<span class="glyphicon glyphicon-user"></span> 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile Info</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" ng-click="signOut()">Sign out</a></li>
					</ul>
				</li>
				<!-- <li ng-if="!username">
					<button class="btn btn-primary">Sign Up</button>
				</li>
				<li ng-if="!username">
					<button class="btn btn-default" ng-click="signIn()">Sign In</button>
				</li> -->
			</ul>
		</div>
	</div>
</nav>